---
import Layout from '../layouts/Layout.astro';
import Header from '@/components/Header';
import Hero from '@/components/sections/Hero';
import Projects from '@/components/sections/Projects';
import '@/styles/global.css';
---

<Layout title="정명성 | 프론트엔드 포트폴리오">
  <Header client:load />

  <main>
    <Hero client:load />
    
    <Projects client:visible />
    
    </main>
  
  <footer class="py-10 text-center text-gray-500 text-sm border-t mt-20">
    © 2025 Watchiiee. All rights reserved.
  </footer>
</Layout>